<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="{% url 'my_post' %}">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="age" placeholder="Age" />
      <input type="text" name="job" placeholder="Job" />
      <button type="submit">Send POST</button>
    </form>
  </body>
</html>
